[submodule "rlservlib/modules/json2"]
	path = rlservlib/modules/json2
	url = https://github.com/einsteinmaster/json.git
[submodule "rlservlib/modules/spdlog"]
	path = rlservlib/modules/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "rlservlib/modules/libhttpserver"]
	path = rlservlib/modules/libhttpserver
	url = https://github.com/etr/libhttpserver.git
